body {
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 5px;
  line-height: 30px;
}



.header {
  position: relative;
}

.bottom-left {
  position: absolute;
  bottom: 21px;
  left: 21px;
  opacity: 0.6;
}

@media screen and (max-width: 500px) {
  .custom-nav {
    display: none;
  }
  .table2 {
    display: none;
  }
}